@import "./colors.scss";
@import "./common.scss";

.pw-app-header {
  display: flex;
  justify-content: space-between;
  color: theme($text-color, $primary-color);

  padding: 0 1rem;

  text-transform: uppercase;
  @include shadow();

  & .pw-header-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .pw-header-nav-container {
    display: flex;

    & .pw-header-nav {
      display: inherit;
      justify-content: center;
      align-items: center;

      & ul {
        display: inherit;
        & li {
          display: inherit;
          padding: 1rem;

          font-size: 1.3rem;

          & a {
            text-decoration: none;
            color: unset;

            &:hover {
              // color: change-color($color: #000000, $red: 1, $green: 2, $blue: 3, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: 1.0)
              color: change-color($color: theme($text-color, $primary-color), $lightness: 70%);
            }

            &.active {
              &:hover {
                opacity: 1;
              }
              color: theme($text-color, $highlighted-color);
              // text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}
