@import "./colors.scss";
@import "./common.scss";

.pw-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.line-1 {
  // position: relative;
  // top: 50%;
  // width: 24em;
  // margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  // font-size: 180%;
  // text-align: center;
  white-space: nowrap;
  overflow: hidden;
  // transform: translateY(-50%);
}
